########################################################################
# EmuFlow - RetroArch Hotkey Configuratie: TechDweeb Standaard
# Gebaseerd op: TechDweeb RetroArch Setup Guides 2024/2025
# Bron: youtube.com/@TechDweeb
#
# GEBRUIK: Kopieer deze bindings naar retroarch.cfg of gebruik als
# override configuratie. Dit bestand bevat ALLEEN hotkey bindings.
# Combineer met retroarch_base.cfg voor volledige configuratie.
#
# VERSCHIL MET RGC STANDAARD:
#   - Menu Toggle: A knop (index 1) i.p.v. X (index 2)
#   - SELECT + L2: Slow Motion i.p.v. Rewind
#   - SELECT + Y: Screenshot i.p.v. FPS Toggle
#   - D-pad Right/Left: Next/Previous Save Slot i.p.v. Volume
#   - D-pad Up/Down: Volume Up/Down i.p.v. Run-Ahead
#   - input_block_timeout = 1 (Android-specifiek)
#   - Analog to Digital = Left Analog
#
# KNOPINDICES (standaard Android XInput/DInput layout):
#   0 = Y knop
#   1 = A knop (MENU TOGGLE in TechDweeb standaard)
#   2 = X knop
#   3 = START knop
#   4 = L1 (linker schouderknop)
#   5 = R1 (rechter schouderknop)
#   6 = SELECT knop
#   7 = R2 (rechter trigger)
#   8 = L2 (linker trigger)
#   9 = L3 (linker stick klik)
#  10 = R3 (rechter stick klik)
#
# ASSEN:
#   +0 = D-pad Right / Rechter X-as positief
#   -0 = D-pad Left  / Linker X-as negatief
#   +1 = D-pad Down  / Y-as positief
#   -1 = D-pad Up    / Y-as negatief
########################################################################


# ====================================================================
# HOTKEY ENABLE
# SELECT als primaire hotkey enable knop.
# Op apparaten met een dedicated hotkey knop: gebruik die index hier.
# SELECT = knopindex 6
# ====================================================================
input_enable_hotkey_btn = "6"


# ====================================================================
# MENU TOGGLE
# TechDweeb gebruikt A knop als menu toggle (VERSCHIL met RGC: X knop)
# A is direct toegankelijk en intuïtief op veel controllers.
# A = knopindex 1
# ====================================================================
input_menu_toggle_btn = "1"


# ====================================================================
# L3+R3 MENU TOGGLE COMBO (backup / alternatief voor A knop)
# L3+R3 tegelijk ingedrukt opent ook het Quick Menu.
# Waarde 4 = L3+R3. Werkt zonder hotkey enable knop.
# ====================================================================
input_menu_toggle_gamepad_combo = "4"


# ====================================================================
# SAVE STATE (SELECT + R1)
# Sla de huidige spelstatus op in de actieve saveslot.
# Identiek aan RGC standaard.
# R1 = knopindex 5
# ====================================================================
input_save_state_btn = "5"


# ====================================================================
# LOAD STATE (SELECT + L1)
# Laad de opgeslagen spelstatus uit de actieve saveslot.
# Identiek aan RGC standaard.
# L1 = knopindex 4
# ====================================================================
input_load_state_btn = "4"


# ====================================================================
# FAST FORWARD - HOLD (SELECT + R2)
# Versnelt emulatie zolang SELECT+R2 ingehouden wordt.
# TechDweeb gebruikt hold modus (niet toggle zoals RGC).
# R2 = knopindex 7
# ====================================================================
input_hold_fast_forward_btn = "7"


# ====================================================================
# SLOW MOTION (SELECT + L2)
# TECHDWEEB VERSCHIL: TechDweeb gebruikt L2 voor SLOW MOTION
# (RGC gebruikt L2 voor REWIND)
# Slow motion vertraagt emulatie tot instelbaar percentage.
# L2 = knopindex 8
# ====================================================================
input_hold_slowmotion_btn = "8"


# ====================================================================
# AFSLUITEN / QUIT (SELECT + START)
# Sluit de huidige content/ROM. Identiek aan RGC standaard.
# START = knopindex 3
# ====================================================================
input_exit_emulator_btn = "3"


# ====================================================================
# SCREENSHOT (SELECT + Y)
# TECHDWEEB VERSCHIL: TechDweeb gebruikt Y voor SCREENSHOT
# (RGC gebruikt Y voor FPS Toggle)
# Screenshots worden opgeslagen in: RetroArch/screenshots/
# Y = knopindex 0
# ====================================================================
input_screenshot_btn = "0"


# ====================================================================
# VOLGENDE SAVESLOT (SELECT + D-pad Right)
# TECHDWEEB VERSCHIL: D-pad Right = Next Save Slot
# (RGC gebruikt D-pad Right voor Volume Up)
# D-pad Right = positieve X-as richting
# ====================================================================
input_state_slot_increase_axis = "+0"


# ====================================================================
# VORIGE SAVESLOT (SELECT + D-pad Left)
# TECHDWEEB VERSCHIL: D-pad Left = Previous Save Slot
# (RGC gebruikt D-pad Left voor Volume Down)
# D-pad Left = negatieve X-as richting
# ====================================================================
input_state_slot_decrease_axis = "-0"


# ====================================================================
# VOLUME OMHOOG (SELECT + D-pad Up)
# TECHDWEEB VERSCHIL: D-pad Up = Volume Up
# (RGC gebruikt D-pad Up voor Run-Ahead toggle)
# D-pad Up = negatieve Y-as richting
# ====================================================================
input_volume_up_axis = "-1"


# ====================================================================
# VOLUME OMLAAG (SELECT + D-pad Down)
# TECHDWEEB VERSCHIL: D-pad Down = Volume Down
# (RGC gebruikt D-pad Down niet specifiek)
# D-pad Down = positieve Y-as richting
# ====================================================================
input_volume_down_axis = "+1"


# ====================================================================
# INPUT BLOCK TIMEOUT (Android-specifiek)
# TechDweeb aanbeveling: stel in op 1 voor Android apparaten.
# Blokkeert invoer gedurende 1 frame na het openen van het Quick Menu.
# Voorkomt ongewenste menu-navigatie direct na menu-opening.
# PLATFORM: Android
# ====================================================================
input_block_timeout = "1"


# ====================================================================
# ANALOG TO DIGITAL (Left Analog als D-pad emulatie)
# TechDweeb aanbeveling: Left Analog werkt ook als D-pad.
# Waarden: 0 = uitgeschakeld, 1 = Left Analog, 2 = Right Analog
# Handig voor retro games zonder analoge ondersteuning.
# ====================================================================
input_analog_dpad_mode = "1"


# ====================================================================
# FPS TOGGLE (uitgeschakeld in TechDweeb standaard)
# TechDweeb gebruikt Y voor Screenshot (zie boven).
# FPS is beschikbaar via Quick Menu > Statistieken.
# Optioneel inschakelen als geen conflict met screenshot gewenst:
# ====================================================================
# input_fps_toggle_btn = ""               # GECOMMENTARIEERD - conflict met screenshot (Y knop)


# ====================================================================
# GAME RESET (optioneel - niet standaard TechDweeb)
# Kan worden ingeschakeld indien gewenst. B = index 1.
# Maar let op: index 1 = A knop in dit profiel (menu toggle)!
# Gebruik een andere knop als reset gewenst is.
# ====================================================================
# input_reset_btn = ""                    # GECOMMENTARIEERD - B=index 1, conflict met A (menu toggle)


########################################################################
# EINDE TECHDWEEB HOTKEY CONFIGURATIE
# EmuFlow Profile ID: techdweeb_standard
# Versie: 1.0.0
########################################################################
